@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vazir-light';
  src: url('../../public/fonts/YekanBakh-Light.woff2') format('woff2');
 
}
@font-face {
  font-family: 'vazir-bold';
  src: url('../../public/fonts/YekanBakh-Bold.woff2') format('woff2');
      
}
@font-face {
  font-family: 'vazir';
  src: url('../../public/fonts/YekanBakh-Regular.woff2') format('woff2');
      
}